.channel-layout {
    max-width: 1284px;
    margin: 0 auto;
    padding: 0 24px;
    transition: margin-left 0.3s ease;
}

body.sidebar-active .channel-layout {
    margin-left: 264px; 
}

.banner img {
    width: 100%;
    max-height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

.channel-info {
    display: grid;
    grid-template-columns: 160px;
    row-gap: 0px;
    grid-template-areas:
    "profile-pic channel-details" 
    "profile-pic buttons-row";
    padding: 20px 0;
    column-gap: 24px;
    align-items: center;
}

.profile-pic img {
    grid-area: profile-pic;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.channel-details {
    grid-area: channel-details;
}

.channel-details h1 {
    font-size: 36px;
    margin-bottom: 4px;
}

.channel-details p {
    color: #aaa;
    font-size: 14px;
    padding: 8px 0px;
}

.verified-icon {
    font-size: 25px;
}

.channel-handle {
    font-weight: bold;
    color: #f1f1f1;
}

.instagram-link {
    color: #3ea6ff !important;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
}

.buttons-row {
    display: flex;
    grid-area: buttons-row;
    gap: 12px;
    margin-top: 0px;
}

.subscribe-btn {
    padding: 0 16px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    background-color: #f1f1f1;
    color: #0f0f0f;
    display: flex;
    align-items: center;
    gap: 8px;
}

.subscribe-btn.subscribed {
    background-color: #272727;
    color: white;
}

.member-btn {
    background-color: #272727;
    border: 1px solid #3e3e3e;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    border-radius: 20px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
}

.star-circle {
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    display: flex;
}

.star-circle i {
    color: #272727;
    font-size: 13px;
    margin: auto;
}

.channel-nav {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #3e3e3e;
    padding-bottom: 0;
    margin-top: 10px;
}

.channel-nav a {
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    padding-bottom: 12px;
}

.channel-nav a.active {
    color: white;
    border-bottom: 2px solid white;
}